.left {
    float: left;
}
.center {
    text-align: center;
}
.navbar {
    border-bottom: solid 5px grey;
}
.subtitle {
    color: grey;
}
.pointer {
    cursor: pointer;
}
.inverted {
	-webkit-filter: invert(100%);
}
.black {
    background: #fff;
}
html {
    height: 100%;
}
